@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url(/src/assets/fonts/Poppins-Regular.ttf);
  }

  @font-face {
    font-family: 'Kanit';
    font-weight: 400;
    src: url(/src/assets/fonts/Kanit-Regular.ttf);
  }
}
.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}
